*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* color: #000; */
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
 
}
#navbar{
    width: 100%;
    height: 50px;
    /* background-color: gray; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    #left{
        width: 20%;
        height: 100%;
align-items: center;
        justify-content: center;
        display: flex;
    }
    #left img{
        height: 30px;
    }
  
    #center {
        width: 50%;
        height: 100%;
        /* background-color: red; */
        display: flex;
        justify-content: flex-start;
    }
    #center ul{
        
        align-items: center;
        display: flex;
        justify-content: flex-start;
    }
    #center ul li{
        color: #000;
        list-style: none;
    
        padding: 10px;
        
    }
    #right{
        width: 30%;
        height: 100%;
        /* background-color: aqua; */
        align-items: center;
        justify-content: space-evenly;
        display: flex;
    }
    #right i{
        font-size: 20px;
    }
    #right h3{
        font-weight: 100;
    }
#page1{
    width: 100%;
    height: calc(100% - 50px);
    background-color: #F2F2F2;
    overflow: hidden;
    position: relative;
}
#page1 img{
    z-index: 1;
}
#page1 #content{
    z-index: 9;
    position: absolute;
    top: 10%;
    left: 10%;
    height:90%;
    /* padding: 80px 40px; */
    padding-top: 12%;

}
#content p{
    margin-top: 10px;
    font-size: 16px;
}
#content button{
    padding: 12px 20px;      
    margin-top: 20px;
    background-color: rgb(32, 32, 224);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;

}
#content button:hover{
    background-color: rgb(23, 23, 150);
}
#page2{
    width: 100%;
    height: 100vh;
    position: relative;
}
#top-div{
    width: 100%;
    height: 100px;
    /* background-color: red; */
}
#top-div ul{
    text-align: center;
    display: flex;
    justify-content: center;
} 
#top-div ul li{
    margin: 30px 20px ;
    display: flex;
    align-items: center;
    flex-grow: 0;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
    font-size: 20px;
}

#top-div ul li:nth-child(1){
    flex-direction: column;
}
#top-div ul li:nth-child(2){
    flex-direction: column;
}
#top-div ul li:nth-child(3){
    flex-direction: column;
}
#top-div ul li:nth-child(4){
    flex-direction: column;
}
#bottom-div{
    width: 100%;
    height: calc(100% - 100px);
    /* background-color: gray; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card1 {
    width: 300px;
    height: 300px;
    /* background-color: red; */
}
.card1 img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.card1 h3{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    padding-top: 5px;
    font-size: 25px;
    /* margin-bottom: ; */
}
.card1 p{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    padding-top: 10px;
    font-weight: 400;
    line-height: 1.5;
    /* font-size: 1.8125rem; */
    /* margin-bottom: 1rem; */
    color: #000;
}
.card1 a{
    /* text-decoration: none; */
    padding-top: 5px;
    font-size: 16px;
}
.card2{
    width: 300px;
    height: 300px;
    /* background-color: red; */
}
.card2 img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.card2 h3{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    padding-top: 5px;
    font-size: 25px;
    /* margin-bottom: ; */
}
.card2 p{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    padding-top: 10px;
    font-weight: 400;
    line-height: 1.5;
    /* font-size: 1.8125rem; */
    /* margin-bottom: 1rem; */
    color: #000;
}
.card2 a{
    /* text-decoration: none; */
    padding-top: 5px;
    font-size: 16px;
}
.card3{
    width: 300px;
    height: 300px;
    /* background-color: red; */
}
.card3 img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.card3 h3{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    padding-top: 5px;
    font-size: 25px;
    /* margin-bottom: ; */
}
.card3 p{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    padding-top: 10px;
    font-weight: 400;
    line-height: 1.5;
    /* font-size: 1.8125rem; */
    /* margin-bottom: 1rem; */
    color: #000;
}
.card3{
    /* text-decoration: none; */
    padding-top: 5px;
    font-size: 16px;
}
.card4{
    width: 300px;
    height: 300px;
    /* background-color: red; */
}
.card4 img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.card4 h3{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    padding-top: 5px;
    font-size: 25px;
    /* margin-bottom: ; */
}
.card4 p{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    padding-top: 10px;
    font-weight: 400;
    line-height: 1.5;
    /* font-size: 1.8125rem; */
    /* margin-bottom: 1rem; */
    color: #000;
}
.card4{
    /* text-decoration: none; */
    padding-top: 5px;
    font-size: 16px;
}
#page3{
    width: 100%;
    height: 100%;
    position: relative;
}
#container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#content1{
    width: 30%;
    position: absolute;
    top: 10%;
    left: 10%;
    height:90%;
    /* padding: 80px 40px; */
    padding-top: 12%;
}
#content1 h1{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 28px;
}
#content1 p{
    margin-top: 10px;
    font-size: 16px;
}
#btn{
    padding: 12px 20px;      
    margin-top: 20px;
    background-color: rgb(32, 32, 224);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
#btn:hover{
    background-color: rgb(23, 23, 150);
}
#page4{
    width: 100%;
    height: 75%;
    /* background-color: red; */
}
#page5{
    width: 100%;
    height: 100vh;
    position: relative;
}
#content2{
    width: 30%;
    position: absolute;
    top: 10%;
    left: 10%;
    height:90%;
    /* padding: 80px 40px; */
    padding-top: 12%;
    color: #fff;
}
#content2 h1{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 28px;
}
#content2 p{
    margin-top: 10px;
    font-size: 16px;
}
#container2{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;}


   footer{
    width: 100%;
    height: 70%;
    background: #F2F2F2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

   }
   footer li{
    list-style: none;
    /* color: #000; */
    
   }
   footer li a{
    color: #000;
    text-decoration: none;
    line-height: 3;
    font-size: 13px;
   }
   #list1{
    width: 20%;
    height: 70%;
    /* background-color: red; */
    /* text-align: center; */
    padding-left: 40px;
    
   }
   #list2{
    width: 20%;
    height: 70%;
    /* background-color: rgb(4, 0, 255); */
    padding-left: 40px;

   }
   #list3{
    width: 20%;
    height: 70%;
    /* background-color: rgba(102, 100, 10, 0.342); */
        padding-left: 40px;

   }
   #list4{
    width: 20%;
    height: 70%;
    /* background-color: rgb(176, 44, 180); */
        padding-left: 40px;

   }
   #list5{
    width: 20%;
    height: 70%;
    /* background-color: rgb(48, 16, 107); */
        padding-left: 40px;

   }
   #list6{
    width: 20%;
    height: 70%;
    /* background-color: rgb(31, 139, 107); */
        padding-left: 40px;

   }
